       /*h1{color: yellow;font-size: 100px;}
		.wo{color: purple;font-size: 30px;}
		#ni{color: blue;font-size: 50px;}*/

        body{font-size: 16px;color: green}
		ul li{font-size: 12px;color: blue}
		#to{color: black}
		#go{color: green}