        body      {font-size: 12px;
		           color: #522a06;
		           padding: 0px; 
		           margin: 0px auto;
		           background-image: url(../images/bodybg.gif);}
		   ul li     {list-style: none;}
		   a         {text-decoration: none;
		           color:#522a06;}
		   a:hover   {text-decoration: underline;}
		   /*页顶*/
        #header   {height: 205px;
                   background-image: url(../images/bg.gif);}
        #banner   {height: 164px;
        	         width: 1000px;
        	         margin: 0 auto;}
        img       {margin-top: 38px;
        	         margin-left: 25px;}
        #nav      {height: 40px;
                   background-image: url(../images/nav.jpg);}
        .nav-body{height: 40px;width: 1000px;margin: 0px auto;}
        .nav-content{width: 790px;
        	         float: left;}
        .nav-content a{line-height: 40px;
                       font-weight:bold;
        	           color: #fff;}
        .nav-content a:hover{color:#f9f603;
        	                text-decoration: none;}
        #shouye      {color: #f9f603;}
        .nav-search{width: 200px;
                    float: right;}
        .dabaikuang {width: 140px;
                    height: 19px;
                    background-color: #f8f5ee;}
        .anniu {height: 21px;
                width: 40px;
                background-color:#000;
                color: #fff;
                border: 1px solid #f8f5ee;
                margin-top: 9px;}
        /*页中*/
        #content  {height: 700px;
                   width: 1000px;
                   margin: 0 auto;
                   clear: both;} 
       .shang{overflow: hidden;}
           .shangzuo{width: 324px;height: 243px;background-image: url(../images/news_bg.png);float: left;}
                 #img{background-image: url(../images/news.jpg); height:200px;width: 300px;margin: 5px auto;}
                 #zi{height:22px; width: 300px; margin: 5px auto;}
           .shangzhong{width: 330px;margin-left: 38px;float: left;height: 243px;}
                .peixun{background-image: url(../images/change.png);height: 28px;width: 288px;float: left;}
                .gengduo{height: 32px;width: 19px;float: right;background-image: url(../images/more.png);}
                .liebiao{width: 330px;height: 210px;margin-top: 32px;}
                    .liebiao ul li{position: relative;line-height: 30px;list-style: disc;}
                    .riqi{position: absolute;right: 5px;}
           .shangyou{width: 277px;height: 243px;margin-top: 10px; float: right;}
               .biaoti{background-image: url(../images/board.png);width: 113px;height:23px;margin: 0px auto; }
               .gonggao{width: 285px;height: 210px;background-image: url(../images/board_bg.png);}
               .gonggao ul li{position: relative;line-height: 30px;list-style: disc;}
       .xiazuo{width: 715px; margin-top:20px;height: 456px;float: left;}
           .xiazuozuo{width: 340px;height: 200px;float: left;}
               .xueshu{background-image: url(../images/academic.png);height: 54px;width: 340px;float: left;}
                    .gengduo{height: 32px;width: 19px;float:right;background-image: url(../images/more.png);}
               .liebiao{width: 340px;height: 320px;margin-top: 32px;}
                    .liebiao ul li{position: relative;line-height: 30px;list-style: disc;}
                    .riqi{position: absolute;right: 5px;}
           .xiazuoyou{width: 340px;height: 200px;margin-left: 25px; float: left;}
               .shutan{background-image: url(../images/book_news.png);height: 54px;width: 340px;float: left;}
                    .gengduo{height: 32px;width: 19px;float:right;background-image: url(../images/more.png);}
               .liebiao1{width: 340px;height: 320px;margin-top: 32px;}
                    .liebiao1 ul li{position: relative;line-height: 30px;list-style: disc;}
                    .riqi1{position: absolute;right: 5px;}
            .xiazuoxia{height: 378px; width: 700px; clear: both;}
               .yanzhao{height: 54px;width: 450px;background-image: url(../images/fengcai_bg1.png);float: left;}
               .gengduo3{height: 32px;width: 19px;float:right;background-image: url(../images/more.png);}
               .tu{height: 178px;width:678px;background-image: url(../images/fengcai_bg2.png);float: left;margin-left: 20px; }
                    .tu1{background-image: url(../images/fengcai1.jpg);height: 143px;width: 152px;float: left;margin-top: 5px;}
                    .tu2{background-image: url(../images/fengcai2.jpg);height: 143px;width: 152px;float: left;margin-top: 5px;}
                    .tu3{background-image: url(../images/fengcai3.jpg);height: 143px;width: 152px;float: left;margin-top: 5px;}
                    .tu4{background-image: url(../images/fengcai4.jpg);height: 143px;width: 152px;float: left;margin-top: 5px;}
       .xiayou{width: 280px;float: left;}
           .mingjia{background-image: url(../images/show.png);width: 113px;height:23px;margin: 0px auto;margin-top: 35px; margin-bottom: 20px; }
           .mingrenneirong{width: 276px;height: 360px; background-image: url(../images/show_bg.png);margin-left: 10px;}
           .mingren{width: 224px;height: 185px;background-image:url(../images/mingjia.jpg);margin:18px auto;position: relative;top: 18px;}
           .mingrenmiaoshu{width: 224px;height: 115px;line-height:20px; margin:15px auto;position: relative;top: 18px;}
	     h4{font-weight: bold;color: red;display: inline;}
	         .gengduo2{height: 17px;width: 30px;float:right;background-image: url(../images/view.png);position: relative;right: 18px;}
        /*页脚*/
        #footer   {height: 105px;margin: 0px auto; clear:both;background-image: url(../images/foot.gif);} 
            .youqing{height: 50px;width: 800px; margin: 0px auto;}
                 .youqing ul{list-style-type: none;padding: 0px;margin: 0px;text-align: center}
                 .youqing ul li{text-align: center;float: left;line-height: 48px;font-weight: bolder;}
                 .youqing ul li a{width: 120px;text-decoration: none;line-height: 48px;font-weight: bold;float: left;text-align: center}
            .xian{height: 5px;width: 800px;margin: 0px auto;border-top: 1px solid black;}
            .di1{height: 25px;width: 600px;margin: 0px auto;text-align: center;}
            .di2{height: 25px;width: 600px;margin: 0px auto;text-align: center;}